input[type=range]{
    -webkit-appearance: none;
    background: none;
}

input[type=range]::-webkit-slider-runnable-track {   
    height: 8px;
    background: rgba(221, 221, 221, 0.3);
    border: 1px solid #ddd;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ddd;
    margin-top: -7px;
}

input[type=button], {
    background: none;
    border: none;
}

input[type=button]:focus,
input[type=range]:focus {
    outline: none;
}
