.page {
	background: #d8d8d8;
	font-family: sans-serif;
}

.header {
	text-align: center;
	margin: 50px 0;
	color: #7e7e7e;
}

.processor {	
	left: 50%;
	transform: translateX(-50%);
	position: relative;	
	display: inline-block;
}

.process-item-hidden {
	display: none;
}

.control {
	background:black;
	width: 100%;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.control-item {
	display: inline;
	float: left;
	padding: 5px;
	margin: 0px;
	box-sizing: border-box;
}

#play-range {
	width: 440px;
}

#play-button,
#volume-button {	
	width: 32px;
	height: 32px;
	margin: 0 20px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#play-button {		
	background-image: url(../files/play.png);
}

#play-button.play-button-paused {
	background-image: url(../files/pause.png);
}

#volume-button {
	background-image: url(../files/volume.png);
}

#volume-button.volume-button-mute {
	background-image: url(../files/mute.png);		
}

#volume-range {
	width: 100px;
}

#play-range,
#volume-range {
	height: 32px;
}